<%- include('header') %>
 
    <h1>Profile</h1>
    
    
    <div>
        <p>
                <%= user.name %>
        </p> 
    
     <p>
            <%= user.username %>
    </p> 

    <a href="/">Back to account summary</a>


    
<%- include('footer'); %>